*.class
*.log

# sbt specific
.bsp
dist/*
target/
project/boot/
project/plugins/project/
project/target/

bundle_*
bundle-filename
env

# metals, vscode etc
project/project/
project/.bloop/
project/metals.sbt
.metals/
.vscode
.bloop/

# Idea specific
.idea
.idea_modules
*.iml

**.DS_Store
